<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="main.game.hangman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test2"></activity>
        <activity android:name=".test" />
        <activity
            android:name=".PopUpInstructionsMulti"
            android:theme="@style/AppTheme.popUpThemeInstructions" />
        <activity
            android:name=".PopUpInstructionsSingle"
            android:theme="@style/AppTheme.popUpThemeInstructions" />
        <activity android:name=".MainInstructions" />
        <activity
            android:name=".MainLosePopUp"
            android:theme="@style/popUpTheme" />
        <activity
            android:name=".MainWinPopUp"
            android:theme="@style/popUpTheme" />
        <activity android:name=".MainGame" />
        <activity android:name=".MainSingleplayerSetup" />
        <activity android:name=".MainOptions" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>